/* @import "tailwindcss"; */




body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle 500px at 50% 100px, rgba(236,72,153,0.4), transparent),
}

.container {
  padding: 20px;
  text-align: center;
}

select {
  padding: 8px;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
}

.card img {
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 6px 12px;
}
